<template>
   <div class="wrapper">
      <Pager 
         :info="getInfo" 
         @setLimit="setLimit" 
         @setPage="setPage"
      />
      <Records :records="musicRecords" />
   </div>
</template>

<script type="text/javascript">
import MusicBrainzAPI from '@api/MusicBrainzAPI';
import Records from './Records.vue';
import Pager from './Pager.vue';
const ENDPOINT_MUSICBRAINZ = import.meta.env.VITE_ENDPOINT_MUSICBRAINZ;

export default {
   name: 'MusicBrainz',
   components: { Records, Pager },
   data() {
      return {
         limit: 10,
         total: 0,
         offset: 0,
         page: 1,
         fmt: 'json',
         musicRecords: null
      };
   },
   methods: {
      async setLimit(newLimit) {
         this.limit = newLimit;
         const { data } = await this.getMusibrains();
         this.musicRecords = data.genres;
         this.offset = data['genre-offset'];
         this.total = data['genre-count'];
      },
      async setPage(newPage) {
         this.page = newPage;
         this.offset = (parseInt(this.page) - 1) * parseInt(this.limit);
         const { data } = await this.getMusibrains();
         this.musicRecords = data.genres;
         this.offset = data['genre-offset'];
         this.total = data['genre-count'];
      },
      async getMusibrains() {
         return await MusicBrainzAPI.doRequest({
            method: 'get',
            url: ENDPOINT_MUSICBRAINZ,
            params: {
               limit: this.limit,
               offset: this.offset,
               fmt: this.fmt
            }
         });
      }
   },
   computed: {
      getInfo() {
         return {
            limit: this.limit,
            total: this.total,
            offset: this.offset,
            page: this.page
         };
      }
   },
   async created() {
      const { data } = await this.getMusibrains();
      this.musicRecords = data.genres;
      this.offset = data['genre-offset'];
      this.total = data['genre-count'];
   }
};
</script>