<template>
   <div class="wrapper-records">
      <div class="wrapper-pages">
         <button 
            class="btn-page" 
            v-for="page in totalPages" 
            :key="page.id"
            @click="changePage(page)"
         >
            {{ page }}
         </button>
      </div>
      <div class="wrapper-number-records">
         <label>Records per page</label>
         <select @change="changeLimit($event)">
            <option 
               v-for="item of rowsPerPage" 
               :key="item.id" 
               :value="item"
            >
               {{ item }}
            </option>
         </select>
      </div>
   </div>
</template>

<script type="text/javascript">
export default {
   name: 'Pager',
   props: ['info'],
   data() {
      return {
         rowsPerPage: [ 10, 20, 50, 100 ]
      };
   },
   methods: {
      changeLimit(event) {
         const newRecordsPerPage = event.target.value;
         this.$emit("setLimit", newRecordsPerPage);
      },
      changePage(newPage) {
         this.$emit("setPage", newPage);
      }
   },
   computed: {
      totalPages() {
         return (!!this.info?.total && !!this.info?.limit)
            ? Math.ceil(this.info.total / this.info.limit) : 0;
      }
   }
};
</script>

<style scoped>
.wrapper-records {
   margin: 1rem 0;
}
.wrapper-pages {
   display: grid;
   grid-template-columns: repeat(15, 1fr);
   margin-bottom: 0.5rem;
}
.wrapper-pages button {
   box-sizing: border-box;
   height: 2rem;
   margin: 0.3rem;
}
</style>
