<template>
   <div class="wrapper-records">
      <div class="row">
         <div class="title">Id</div>
         <div class="title">Disambiguation</div>
         <div class="title">Name</div>
      </div>
      <div class="row" v-for="record in records" :key="record.id">
         <div>{{ record.id }}</div>
         <div>{{ record.disambiguation }}</div>
         <div>{{ record.name }}</div>
      </div>
   </div>
</template>

<script type="text/javascript">
export default {
   name: 'Records',
   props: [ 'records' ]
};
</script>

<style scoped>
.wrapper-records {
   display: flex;
   flex-direction: column;
   margin: 2rem 0;
}
.row {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.row:first-child {
   background-color: green;
   color: white;
   font-weight: bold;
}
.row:nth-child(2n+3) {
   background-color: lightgreen;
}
</style>